*{

}

div{
    width:70%;
    margin: auto;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size:120%;
}

ul{
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

li{
    display: inline;
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: #FF4C00;
}

a:hover{
    background-color: #FF4C00;
    color:white;
}

#titleBar{
    width:100%;
    background-color: #FF4C00;
    color:white;
    padding:0px;
    margin:0px;
}

#titleBar ul{
    padding-bottom:10px;
}

#titleBar a{
    color:white;
}

#titleBar a:hover{
    color: #FFAB87;
}